<extend name="Index:base" />
<block name="content">
  <!-- 面包屑 -->
  <div class="crumbs-nav">
    <span class="layui-breadcrumb" lay-separator=">" style="height: 100px;">
      <a href="<{:U('Index/index')}>" class="link"> <i class="layui-icon">&#xe68e;</i> 首页</a>

      <a href="<{:U('Role/index')}>" class="link">角色管理</a>
      <if condition="$role_info">
          <a href="javascript:;" class="link"><cite>编辑角色</cite></a>
        <else/>
        <a href="<{:U('Role/add')}>" class="link"><cite>添加角色</cite></a>
      </if>
    </span>
  </div>
  <!--内容  -->
  <!-- 添加内容 -->

  <div class="add-module-form">
    <form class="layui-form wrapper" action="<{:U('Role/confirmAdd')}>" method="POST"
      enctype="multipart/form-data">

      <if condition="$role_info">
          <div class="layui-form-item">
              <label class="layui-form-label">角色ID</label>
              <div class="layui-input-block">
                <input type="text" name="role_id" required lay-verify="required" autocomplete="off" value="<{$role_info['role_id']}>" readonly
                  class="layui-input">
              </div>
            </div>
          <div class="layui-form-item">
              <label class="layui-form-label">角色名称</label>
              <div class="layui-input-block">
                <input type="text" name="role_name" required lay-verify="required" autocomplete="off" value="<{$role_info['role_name']}>"
                  class="layui-input">
              </div>
            </div>
        <else/>
        <div class="layui-form-item">
            <label class="layui-form-label">角色名称</label>
            <div class="layui-input-block">
              <input type="text" name="role_name" required lay-verify="required" autocomplete="off"
                class="layui-input">
            </div>
          </div>
      </if>
     
      <!-- <div class="layui-form-item">
        <div class="layui-form-item">
          <label class="layui-form-label">父级权限</label>
          <div class="layui-input-block">
            <select name="auth_pid" lay-filter="" required lay-verify="required">
             
              <option value="0">默认父级权限</option>
              <volist name="parent_auth" id="vo">
                    <option value="<{$vo['auth_id']}>"><{$vo['auth_name']}></option>
               
                
              </volist>
              
            </select>
          </div>
        </div>
    

      <div class="layui-form-item">
        <label class="layui-form-label">控制器名</label>
        <div class="layui-input-block">
          <input type="text" name="auth_c"  placeholder="" autocomplete="off"  class="layui-input">
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">方法名</label>
        <div class="layui-input-block">
          <input type="text" name="auth_a" placeholder="" autocomplete="off"  class="layui-input" >
        </div>
      </div> -->
      
      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo" id="submit">提交</button>
          <button type="reset" class="layui-btn layui-btn-primary">重置</button>
       
        </div>
      </div>
    </form>


  </div>
  <script>
      //Demo
      layui.use(['form', 'upload','layer'], function () {
        var form = layui.form,
          $ = layui.jquery,
          upload = layui.upload;
          var layer = layui.layer;
        //监听提交
        form.on('submit(formDemo)', function (data) {
          if (data) {
            // console.log(data)
            var temp = data.field;
            var role_name = temp.role_name;
            var role_id = temp.role_id? temp.role_id: '';
        
            $.ajax({
              type: "post",
              url: "<{:U('Role/confirmSet')}>",
              data: {
                
                'role_id':role_id,
                'role_name':role_name,
              },
              dataType: "json",
              success: function (res) {

                console.log(res)
                layer.msg(res.msg);
                  if(res.code == 200){
                    location.href= "<{:U('Role/index')}>";
                  }
              }
            });
          }
         
         
          return false;
        });

       
  
  
  
      });
    </script>

</block>