<extend name="Index:base" />
<block name="content">

  <!-- 面包屑 -->
  <div class="crumbs-nav">
    <span class="layui-breadcrumb" lay-separator=">" style="height: 100px;">
      <a href="<{:U('Index/index')}>" class="link"> <i class="layui-icon">&#xe68e;</i> 首页</a>
      <a href="<{:U('Role/index')}>" class="link">角色管理</a>
      <a href="<{:U('Role/index')}>" class="link"><cite>角色列表</cite></a>
    </span>
  </div>
  <!--内容  -->
  <div class="manage-btn-wrapper">
    <form action="">
      <div class="handle-wrap layui-left">
        <!-- 筛选条件 -->


      </div>
    </form>
    <div class="layui-right">
      <a href="<{:U('Role/add')}>" class="layui-btn layui-btn-sm layui-btn-normal">
        <i class="layui-icon">&#xe654;</i>
        添加角色
      </a>
    </div>

  </div>
  <table class="layui-table">

    <thead>

      <tr>
        <th>序号</th>
        <th>角色名称</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>


      <volist name="list" id="vo">
        <tr>
          <td>
            <{$i}>
          </td>
          <td>
            <{$vo['role_name']}>
          </td>
    
          <td>

            <a href="<{:U('Role/add',array('role_id'=>$vo['role_id']))}>"
              class="layui-btn layui-btn-primary layui-btn-sm edit">
              <i class="layui-icon">&#xe642;</i>
            </a>
            <a href="<{:U('Role/setAuth',array('role_id'=>$vo['role_id']))}>"
              class="layui-btn layui-btn-primary layui-btn-sm edit">
              设置权限
            </a>

            <!-- <a href="<{:U('Goods/delete',array('goods_id'=>$vo['goods_id']))}>"
              class="layui-btn layui-btn-primary layui-btn-sm delete" onclick="return confirm('你确定删除吗？')">
              <i class="layui-icon">&#xe640;</i>
            </a> -->
          </td>
        </tr>
      </volist>




      <tr>
        <td colspan="10" align="center">
          <{$page}>
        </td>
      </tr>
    </tbody>
  </table>
</block>