<extend name="Index:base" />
<block name="content">

  <!-- 面包屑 -->
  <div class="crumbs-nav">
    <span class="layui-breadcrumb" lay-separator=">" style="height: 100px;">
      <a href="<{:U('Index/index')}>" class="link"> <i class="layui-icon">&#xe68e;</i> 首页</a>
      <a href="<{:U('Role/index')}>" class="link">角色管理</a>
      <a href="javascript:;" class="link"><cite>设置权限</cite></a>
    </span>
  </div>
  <!--内容  -->
  <div class="manage-btn-wrapper">
    <form action="">
      <div class="handle-wrap layui-left">
        <!-- 筛选条件 -->
        <h3>
          为 <b>
            <{$info['role_name']}>
          </b> 设置权限
        </h3>

      </div>
    </form>
    <!-- <div class="layui-right">
      <a href="<{:U('Role/add')}>" class="layui-btn layui-btn-sm layui-btn-normal">
        <i class="layui-icon">&#xe654;</i>
        添加角色
      </a>
    </div> -->


  </div>
  <div class="add-module-form">

    <form class="layui-form wrapper" method="POST" >
      <div class="layui-form-item" pane="">
        <label class="layui-form-label">权限列表</label>
        <div class="layui-input-block">

          <volist name="list" id="vo">
              <if condition="in_array($vo['auth_id'],$auth_ids)">
                  <input type="checkbox" name="auth_ids[]" lay-skin="primary" title="<{$vo['auth_name']}>" value="<{$vo['auth_id']}>"  checked=""> 
                <else/>
                <input type="checkbox" name="auth_ids[]" lay-skin="primary" title="<{$vo['auth_name']}>" value="<{$vo['auth_id']}>">
              </if>

                  
              </volist>
          <!-- <input type="checkbox" name="like1[write]" lay-skin="primary" title="写作" checked="">
          <input type="checkbox" name="like1[read]" lay-skin="primary" title="阅读">
          <input type="checkbox" name="like1[game]" lay-skin="primary" title="游戏" disabled=""> -->
        </div>
      </div>
      <div class="layui-form-item">
        <div class="layui-input-block">
          <input type="hidden" name="role_id" value="  <{$info['role_id']}>">
          <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo" id="submit">提交</button>
          <button type="reset" class="layui-btn layui-btn-primary">重置</button>

        </div>
      </div>
    </form>

  </div>

  <script>
    //Demo
    layui.use(['form', 'layer'], function () {
      var form = layui.form,
        $ = layui.jquery,
        layer = layui.layer;
     
      //监听提交
      form.on('submit(formDemo)', function (data) {
        if (data) {
        
          var temp = data.field;
          var arr_ids = [];
          for(var key in temp){
            if(key.substr(0,8) == 'auth_ids'){
              arr_ids.push( temp[key]);
            }
          }
       
             $.ajax({
            type: "post",
            url: "<{:U('Role/roleSetAuth')}>",
            data: {
              auth_ids: arr_ids,
              role_id: "<{$info['role_id']}>"
             
            },
            dataType: "json",
            success: function (res) {

              console.log(res)
              layer.msg(res.msg);
                if(res.code == 200){
                  location.href= "<{:U('Role/index')}>";
                }
            }
          });
         
        }
       

        return false;
      });

    });
  </script>
</block>