<extend name="Index:base" />
<block name="content">
  <!-- 面包屑 -->
  <div class="crumbs-nav">
    <span class="layui-breadcrumb" lay-separator=">" style="height: 100px;">
      <a href="<{:U('Index/index')}>" class="link"> <i class="layui-icon">&#xe68e;</i> 首页</a>

      <a href="<{:U('Auth/index')}>" class="link">权限管理</a>
      <if condition="$info">
        <a href="javascript:;" class="link"><cite>编辑权限</cite></a>
        <else />
        <a href="<{:U('Auth/add')}>" class="link"><cite>添加权限</cite></a>
      </if>
    </span>
  </div>
  <!--内容  -->
  <!-- 添加内容 -->

  <div class="add-module-form">
    <form class="layui-form wrapper" method="POST" enctype="multipart/form-data">

      <if condition="$info">
        <div class="layui-form-item">
          <label class="layui-form-label">用户ID</label>
          <div class="layui-input-block">
            <input type="text" name="auth_id" required lay-verify="required" autocomplete="off"
              value="<{$info['auth_id']}>" readonly class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">权限名称</label>
          <div class="layui-input-block">
            <input type="text" name="auth_name" required lay-verify="required" autocomplete="off"
              value="<{$info['auth_name']}>" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">模块名称</label>
          <div class="layui-input-block">
            <input type="text" name="auth_c" required lay-verify="required" autocomplete="off"
            value="<{$info['auth_c']}>" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">方法名称</label>
          <div class="layui-input-block">
            <input type="text" name="auth_a" required lay-verify="required" autocomplete="off" 
            value="<{$info['auth_a']}>" class="layui-input">
          </div>
        </div>

        <else />
        <div class="layui-form-item">
          <label class="layui-form-label">权限名称</label>
          <div class="layui-input-block">
            <input type="text" name="auth_name" required lay-verify="required" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">模块名称</label>
          <div class="layui-input-block">
            <input type="text" name="auth_c" required lay-verify="required" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">方法名称</label>
          <div class="layui-input-block">
            <input type="text" name="auth_a" required lay-verify="required" autocomplete="off" class="layui-input">
          </div>
          <!-- <div class="layui-input-block">
              <div class="layui-form-mid layui-word-aux">多个url,以回车结尾</div>
          </div> -->
        </div>


      </if>



      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo" id="submit">提交</button>
          <button type="reset" class="layui-btn layui-btn-primary">重置</button>

        </div>
      </div>
    </form>


  </div>
  <script>
    //Demo
    layui.use(['form', 'upload', 'layer'], function () {
      var form = layui.form,
        $ = layui.jquery,
        upload = layui.upload;
      var layer = layui.layer;
      //监听提交
      form.on('submit(formDemo)', function (data) {
        if (data) {
          console.log(data)
          var params = data.field;
          // var auth_name = temp.auth_name;
          // var auth_urls = temp.auth_urls;
          // var auth_id = temp.auth_id ? temp.auth_id : '';

          $.ajax({
            type: "post",
            url: "<{:U('Auth/confirmSet')}>",
            data: params,
            dataType: "json",
            success: function (res) {

              console.log(res)
              layer.msg(res.msg);
              if (res.code == 200) {
                location.href = "<{:U('Auth/index')}>";
              }
            }
          });

        }
        console.log(data)
        return false;



      });





    });
  </script>

</block>