<extend name="Layout:base" />
<block name="content">
  <!-- 面包屑 -->
  <div class="crumbs-nav">
    <span class="layui-breadcrumb" lay-separator=">" style="height: 100px;">
      <a href="" class="link"> <i class="layui-icon">&#xe68e;</i> 首页</a>

      <a href="<{:U('Goods/index')}>" class="link">商品管理</a>
      <a href="<{:U('Goods/update')}>" class="link"><cite>修改商品</cite></a>
    </span>
  </div>
  <!--内容  -->
  <!-- 添加内容 -->

  <div class="add-module-form">
    <form class="layui-form wrapper" action="<{:U('Goods/update')}>" method="POST"
      enctype="multipart/form-data">

      <div class="layui-form-item">
        <label class="layui-form-label">商品ID</label>
        <div class="layui-input-block">
          <input type="text" name="goods_id"  value="<{$data['goods_id']}>" autocomplete="off" readonly
            class="layui-input">
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">商品名称</label>
        <div class="layui-input-block">
          <input type="text" name="goods_name" required lay-verify="required" value="<{$data['goods_name']}>" autocomplete="off"
            class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">商品价格</label>
        <div class="layui-input-block">
          <input type="text" name="goods_price" required lay-verify="required" placeholder="请输入价格" autocomplete="off" value="<{$data['goods_price']}>"
            class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">推荐</label>
        <div class="layui-input-block">
          


        <if condition="$data['goods_recommend'][0] eq null ">
            <input type="checkbox" name="goods_recommend['精品']" title="精品">
            <input type="checkbox" name="goods_recommend['新品']" title="新品">
            <input type="checkbox" name="goods_recommend['热销']" title="热销">
          
        <else/> 
       
          <foreach name="data['goods_recommend']" item="vo" >
              <if condition="$vo "> 
                <input type="checkbox" name="goods_recommend['<{$vo}>']" title="<{$vo}>" checked>
               
              </if>
             
          </foreach>
        </if>


    
        
                  
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">库存</label>
        <div class="layui-input-block">
          <input type="text" name="goods_number" required lay-verify="required" placeholder="" autocomplete="off"  value="<{$data['goods_number']}>"
            class="layui-input">
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">商品图片</label>
        <div class="layui-input-block">
          <input type="file" name="goods_image" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">商品详情</label>
        <div class="layui-input-block">
          <textarea name="goods_desc" placeholder="请输入内容" class="layui-textarea"><{$data['goods_desc']}></textarea>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">发布状态</label>
        <div class="layui-input-block">
           
        
             <if condition="$data['goods_status'] eq 1">
                <input type="checkbox" name="goods_status" lay-skin="switch" lay-text="上架|下架"  checked />
                <else />
                <input type="checkbox" name="goods_status" lay-skin="switch" lay-text="上架|下架"  />
            </if>
        </div>
      </div>
      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo" id="submit">确认添加</button>
          <button type="reset" class="layui-btn layui-btn-primary">重置</button>
          <button type="reset" class="layui-btn layui-btn-primary">返回产品列表</button>
        </div>
      </div>
    </form>


  </div>
  <script>
      //Demo
      layui.use(['form', 'upload'], function () {
        var form = layui.form,
          $ = layui.jquery,
          upload = layui.upload;
        //监听提交
        form.on('submit(formDemo)', function (data) {
          if (data) {
            console.log(data)
          }
          console.log(JSON.stringify(data.field))
          // layer.msg(JSON.stringify(data.field));
          // return false;
        });

       
  
  
  
      });
    </script>

</block>