<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="public/layui/css/layui.css">
  <link rel="stylesheet" href="public/admin/css/index.css">
  <title>Document</title>
  <style>

  </style>
</head>

<body>

  <?php
  
    require 'top.html';
    require 'left.html';
  ?>

  <div class="admin-body">
    <!-- 面包屑 -->
    <div class="crumbs-nav">
      <span class="layui-breadcrumb" lay-separator=">" style="height: 100px;">
        <a href="" class="link"> <i class="layui-icon">&#xe68e;</i> 首页</a>
        <a href="" class="link">商品管理</a>
        <a href="" class="link"><cite>添加分类</cite></a>
      </span>
    </div>
    <!--内容  -->
    <div class="manage-btn-wrapper">
      <form action="">
        <div class="handle-wrap layui-left">
          <!-- 筛选条件 -->
      
       
        </div>
      </form>
      <div class="layui-right">
        <a href="index.php?p=admin&c=category&a=add" class="layui-btn layui-btn-sm layui-btn-normal">
          <i class="layui-icon">&#xe654;</i>
          添加分类
        </a>
      </div>

    </div>
    <table  class="layui-table" >

      <thead>

          <tr >
  
            <th>商品名称</th>
            <th>商品编号</th>
            <th>商品简介</th>
            <th>所属分类</th>
            <th>所属品牌</th>
            <th>售价</th>
            <th>店价</th>
            <th>促销价</th>
            <th>促销开始时间</th>
            <th>促销结束时间</th>
            <th>图片</th>
            <th>库存</th>
            <th>所属类型</th>
            <th>热门</th>
            <th>精品</th>
            <th>新品</th>
            <th>是否上架</th>
            <th>添加时间</th>
            <th align="center">操作</th>
          
          </tr>
        </thead>
        <tbody>
            <?php foreach($goods_list as $row) :?>
            <tr >
              <!-- <td><?php echo $row['goods_id'];?></td> -->
              <td><?php  echo $row['goods_name'];?></td>
              <td><?php echo $row['goods_cn'];?></td>
              <td><?php echo $row['goods_brief'];?></td>
              <td><?php echo $row['cat_id'];?></td>
              <td><?php echo $row['brand_id'];?></td>
              <td><?php echo $row['market_price'];?></td>
              <td><?php echo $row['shop_price'];?></td>
              <td><?php echo $row['promote_price'];?></td>
              <td><?php echo $row['promote_start_time'];?></td>
              <td><?php echo $row['promote_end_time'];?></td>
              <td><?php echo $row['goods_img'];?></td>
              <td><?php echo $row['goods_number'];?></td>
              <td><?php echo $row['type_id'];?></td>
              <!-- <td><?php echo $row['is_promote'];?></td> -->
              <td><?php echo $row['is_hot'];?></td>
              <td><?php echo $row['is_best'];?></td>
              <td><?php echo $row['is_new'];?></td>
              <td><?php echo $row['is_onsale']==1?'√':'×';?></td>
              <td><?php echo $row['add_time'];?></td>
             
              <td>
                
              <a href="index.php?p=admin&c=category&a=edit&id=<?php echo $row['cat_id'];?>" class="layui-btn layui-btn-primary layui-btn-sm edit">
                <i class="layui-icon">&#xe642;</i>
              </a>
              <button class="layui-btn layui-btn-primary layui-btn-sm success">
                <i class="layui-icon">&#xe605;</i>
              </button>

              <a href="index.php?p=admin&c=category&a=delete&id=<?php echo $row['cat_id'];?>" class="layui-btn layui-btn-primary layui-btn-sm delete">
                <i class="layui-icon">&#xe640;</i>
              </a>
              </td>
              
            </tr>
           <?php endforeach?>
           <?php if(empty($goods_list)) :?>
            <tr align="center"><td colspan="19" >暂无数据</td></tr>
            <?php endif;?>
           <tr>
             <td colspan="19">
              
              <!-- <div class="page-wrap">
                  <?php 
                  echo   '<a href="index.php?p=admin&c=Goods&a=list&page=1&num=3" class="btn">【首页】</a>';
                  echo '<a href="index.php?p=admin&c=Goods&a=list&page='.($pageNow<=1?1:$pageNow-1).'&num='.$pageSize.'" class="btn">【上一页】</a>';
                  for($i=1;$i<= $pageCount;$i++){
                    echo '<a href="index.php?p=admin&c=Goods&a=list&page='.$i.'&num='.$pageSize.'"  style="padding: 5px 10px;" class="'.($pageNow==$i?'active':'').'">'.$i.'</a>';
                  }
                  echo '<a href="index.php?p=admin&c=Goods&a=list&page='.($pageNow >= $pageCount?$pageCount:($pageNow+1)).'&num='.$pageSize.'" class="btn">【下一页】</a>';
               
                  echo '<a href="index.php?p=admin&c=Goods&a=list&page='.$pageCount.'&num='.$pageSize.'" class="btn">【尾页】</a>';
                ?>
              </div> -->
              
            </td>
           </tr>
          </tbody>
    </table>

  </div>


  <script src="public/admin/js/jquery.min.js"></script>
  <script src="public/layui/layui.js"></script>
  <script src="public/admin/js/common.js"></script>
  <script>
     //Demo
  layui.use('form', function () {
    var form = layui.form;

    //监听提交
    form.on('submit(formDemo)', function (data) {
      if (data) {

      }
      layer.msg(JSON.stringify(data.field));
      // return false;
    });


  });

  </script>
</body>

</html>