<div class="admin-side">
    <ul class="side-scroll">
      <li class="side-nav">
        <div class="side-nav-item">
          <i class="layui-icon">&#xe735;</i>
          账号管理
          <i class="layui-icon icon-dropdown">&#xe61a;</i>
        </div>
        <dl class="side-nav-child">
          <dd class="side-nav-child-wrapper">
            <a href="<{:U('Admin/index')}>" class="side-nav-child-link">
              <span class="side-nav-child-icon"></span> 管理账号</a>
          </dd>
          <dd class="side-nav-child-wrapper">
            <a href="<{:U('Admin/customer')}>" class="side-nav-child-link">
              <span class="side-nav-child-icon"></span> 客服账号</a>
          </dd>
  
        </dl>
      </li>
      <!-- <li class="side-nav">
        <div class="side-nav-item">
          <i class="layui-icon">&#xe612;</i>
          厂家管理
          <i class="layui-icon icon-dropdown">&#xe61a;</i>
        </div>
        <dl class="side-nav-child">
          <dd class="side-nav-child-wrapper">
            <a href="<{:U('Factory/index')}>" class="side-nav-child-link">
              <span class="side-nav-child-icon"></span>厂家列表</a>
          </dd>
        
  
        </dl>
      </li>
      <li class="side-nav">
        <div class="side-nav-item">
          <i class="layui-icon">&#xe632;</i>
          产品仓库
          <i class="layui-icon icon-dropdown">&#xe61a;</i>
        </div>
        <dl class="side-nav-child">
          <dd class="side-nav-child-wrapper">
            <a href="<{:U('Store/index')}>" class="side-nav-child-link">
              <span class="side-nav-child-icon"></span> 产品列表</a>
          </dd>
          
        </dl>
      </li>
      <li class="side-nav">
        <div class="side-nav-item">
          <i class="layui-icon">&#xe622;</i>
          资讯管理
          <i class="layui-icon icon-dropdown">&#xe61a;</i>
        </div>
        <dl class="side-nav-child">
          <dd class="side-nav-child-wrapper">
            <a href="<{:U('Information/index')}>" class="side-nav-child-link">
              <span class="side-nav-child-icon"></span>资讯列表</a>
          </dd>
          
        </dl>
      </li>
      <li class="side-nav">
        <div class="side-nav-item">
          <i class="layui-icon">&#xe63c;</i>
          视频管理
          <i class="layui-icon icon-dropdown">&#xe61a;</i>
        </div>
        <dl class="side-nav-child">
          <dd class="side-nav-child-wrapper">
            <a href="<{:U('Video/index')}>" class="side-nav-child-link">
              <span class="side-nav-child-icon"></span>视频列表</a>
          </dd>
         
        </dl>
      </li>
      <li class="side-nav">
        <div class="side-nav-item">
          <i class="layui-icon">&#xe63c;</i>
          会员管理
          <i class="layui-icon icon-dropdown">&#xe61a;</i>
        </div>
        <dl class="side-nav-child">
          <dd class="side-nav-child-wrapper">
            <a href="<{:U('Member/index')}>" class="side-nav-child-link">
              <span class="side-nav-child-icon"></span>会员列表</a>
          </dd>
         
        </dl>
      </li>
      <li class="side-nav">
        <div class="side-nav-item">
          <i class="layui-icon">&#xe63c;</i>
          信息反馈
          <i class="layui-icon icon-dropdown">&#xe61a;</i>
        </div>
        <dl class="side-nav-child">
          <dd class="side-nav-child-wrapper">
            <a href="<{:U('Feedback/index')}>" class="side-nav-child-link">
              <span class="side-nav-child-icon"></span>留言反馈信息</a>
          </dd>
         
        </dl>
      </li> -->
      <li class="side-nav">
        <div class="side-nav-item">
          <i class="layui-icon">&#xe63c;</i>
          分类管理
          <i class="layui-icon icon-dropdown">&#xe61a;</i>
        </div>
        <dl class="side-nav-child">
          <dd class="side-nav-child-wrapper">
            <a href="index.php?p=admin&c=category&a=index" class="side-nav-child-link">
              <span class="side-nav-child-icon"></span>分类列表</a>
              
          </dd>
          <dd class="side-nav-child-wrapper">
            <a href="index.php?p=admin&c=category&a=add" class="side-nav-child-link">
              <span class="side-nav-child-icon"></span>分类添加</a>
          </dd>
         
        </dl>
      </li>

      <li class="side-nav">
        <div class="side-nav-item">
          <i class="layui-icon">&#xe63c;</i>
          商品管理
          <i class="layui-icon icon-dropdown">&#xe61a;</i>
        </div>
        <dl class="side-nav-child">
          <dd class="side-nav-child-wrapper">
            <a href="index.php?p=admin&c=Goods&a=list" class="side-nav-child-link">
              <span class="side-nav-child-icon"></span>商品列表</a>
              
          </dd>
          <dd class="side-nav-child-wrapper">
            <a href="index.php?p=admin&c=Goods&a=add" class="side-nav-child-link">
              <span class="side-nav-child-icon"></span>商品添加</a>
          </dd>
         
        </dl>
      </li>
    </ul>
  
  </div>